a{
    text-decoration: none;
}

.logo-container{
    width: 45%;
}
/* hamburguesa menu */
.menu-button{
    display: none;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 0px;
    padding-top: 20px;
    margin-right: 50px;
}
.nav-container1{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: space-between;
    font-size: 18px;
    padding: 0px;
    padding-top: 50px;
}
.nav-titles{
    color:white;
    text-decoration: none;
}
.nav-titles1{
    margin-right: 40%;
}