.CardProduct{
    list-style: none; 
    font-size: 1.5rem;
    text-align: center;
    height: 750px;

 }
 
 .CardProduct3D{
     border-radius: 10px;
     background-color: azure;
     width: 300px;
     height: 400px;
     object-fit: cover;

 }
 .CardTitle{
    font-weight: 700;
 }
 .cardButtons{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }
 
 @media(max-width:560px){
     .movieImage{
      width: 90%;
      height: auto;
     }
     
 }

